<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PMS.dao.AccountDao">
	<select id="isMember" resultType="string" parameterType="account">
		SELECT count(*)
		FROM account
		WHERE userno=#{userno}
	</select>
	<select id="loginCheck" resultType="string" parameterType="account">
		SELECT count(*)
		FROM account
		WHERE userno = #{userno}
		AND pw = #{pw}
	</select>
	<select id="getUserDetail" resultType="account" parameterType="account">
		SELECT *
		FROM account
		WHERE userno = #{userno}
	</select>
	<update id="uptPw" parameterType="account">
		UPDATE ACCOUNT 
		SET pw = #{pw}
		WHERE userno = #{userno}
	</update>
</mapper>


   