<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="account" type="PMS.vo.Account"/>
		<typeAlias alias="mpsl" type="PMS.vo.MypageScheduleList"/>
		<typeAlias alias="mySchedule" type="PMS.vo.mySchedule"/>
		<typeAlias alias="Project" type="PMS.vo.Project"/>
		<typeAlias alias="Schedule" type="PMS.vo.Schedule"/>
	</typeAliases>

	<mappers>
		<mapper resource="resource/team5Mapper.xml"/>
		<mapper resource="resource/mainMapper.xml"/>
		<mapper resource="resource/ganttMapper.xml"/>
		<mapper resource="resource/alertMapper.xml"/>
		<mapper resource="resource/accountMapper.xml"/>
		<mapper resource="resource/projectMapper.xml"/>
	</mappers>
	
</configuration>