<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PMS.dao.TimelineDao">

	<!-- Timeline List -->
	<select id="getTimeline" parameterType="int" resultType="Timeline">
	SELECT * from Timeline where pno = #{pno}
	</select>
	
	<!-- Timeline 등록 -->
	<insert id="insertTimeline" parameterType="Timeline">
	insert into Timeline values(seq_time.nextval,#{pno},#{sno},#{writer},sysdate,#{state})
	</insert>

</mapper>

